/* Contacts */

#contacts {
  width: 100%;
}

#contacts ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "details delete";
  border-bottom: 1px solid $primary-color;
  margin: .5rem;
}

#contacts .name {
  grid-area: details;
  grid-column-end: 3;
  background-color: #f7f7f7;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  padding: 1.5rem;
}

#contacts .name:hover {
  color: $primary-color;
}

#contacts .phoneNum, #contacts .emailAddress {
  grid-area: details;
  font-size: 1.2rem;
}

#contacts .phoneNum {
  grid-row: 2 / 3;
  margin: 1.5rem 0 0 1rem;
}

#contacts .emailAddress {
  grid-row: 3 / 4;
  margin: 0 0 1.5rem 1rem;
}

#contacts .deleteButton {
  grid-area: delete;
  grid-row: 4 / 5;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: right;
  margin: 0 1rem .5rem 0;
  font-weight: bolder;
}

#contacts .deleteButton:hover {
  color: #EC1C3E
}
