/* Form - Create Contact */

#createContact {
  width: 90%;
  padding: 20px;
  margin: 100px auto;
  border: 5px solid $primary-color;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 5;
  background-color: #fff;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, .8);
}

#createContact h2 {
  margin-bottom: 30px;
  border-bottom: 3px solid $primary-color;
}

#createContact div {
  display: flex;
  margin-bottom: 30px;
}

form img {
  height: 20px;
  width: 20px;
  position: relative;
  top: .2rem;
  margin-right: 1rem;
}

#createContact input {
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 1px solid #D3D3D3;
  font-size: 1rem;
}

#createContact input:focus {
  border-bottom: 1px solid $primary-color;
}

#createContact div:last-of-type {
  display: flex;
  justify-content: flex-end;
}

#createContact button {
  border: none;
  font-size: 1rem;
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}


#add:hover {
  color: $primary-color;
}

#finish {
  margin: 0 0 0 2.5rem;
}
